* {
     margin: 0px;
     padding: 0px 
}
 #header {
     width: 100%;
     background-color: #cc0033;
     padding: 10px;
     color: white;
     position:absolute; 
     top:0px; 
     left:0px; 
     height:60px;
     right:0px;
     overflow:hidden;
     text-align: center;
     vertical-align: middle;
     border-bottom: 5px solid #666666;
}
 #header section {
     font-size: 18px;
     font-weight: bold;
 }

 /* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
  }
 /* Set map height 75%, and width to 100% of the screen size. */
#map,
body,
html {
    margin-top: 500px;
    height: 75%;
    width: 100%;
}
h2 {
    text-align: center;
  }
  
 #group {
     float: right;
     padding-right: 15px;
}
#logo{
    float: left;
}
 
 #footer {
     width: 100%;
     background-color: #cc0033;
     padding: 5px;
     color: white;
     text-align: center;
     font-weight: bold;
     border-top: 3px solid #666666;
     border-bottom: 3px solid #666666;
     position:absolute; 
     bottom:0px; 
     height: 20px; 
     left:0px; 
     right:0px; 
     overflow:hidden;
}

.pipe{
    font-weight: bolder;
    padding: 0px 15px;
}

#team li, #about li {
    display: inline;
    padding: 15px;
}

ul#team li:hover{
    color: black;
    font-size: 24px;
}

#about_items { overflow:hidden; margin:1em; }
#about_items li { float:left; margin:0 2em 0 0; }

.info{

    display: none;
}

#viz1_container{
    float: left;
    width:48%
}


#viz2_container{
    float: right;
    width:48%
}

#viz3_container{
    float: left;
    width: 100%;
    margin-top: 10px;
}

#viz h2{

    background: #666666;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

.viz_container{
    border: 2px solid #666666;
}