* {
     margin: 0px;
     padding: 0px 
}
 #header {
     width: 100%;
     background-color: #cc0033;
     padding: 10px;
     color: white;
     position:absolute; 
     top:0px; 
     left:0px; 
     height:60px;
     right:0px;
     overflow:hidden;
     text-align: center;
     vertical-align: middle;
     border-bottom: 5px solid #666666;
}
 #header section {
     font-size: 18px;
     font-weight: bold;
}
 #group {
     float: right;
     padding-right: 15px;
}
#logo{
    float: left;
}
 
 #footer {
     width: 100%;
     background-color: #cc0033;
     padding: 10px;
     color: white;
     text-align: center;
     font-weight: bold;
     border-top: 3px solid #666666;
     border-bottom: 3px solid #666666;
     position:absolute; 
     bottom:0px; 
     height: 20px; 
     left:0px; 
     right:0px; 
     overflow:hidden;
}

.pipe{
    font-weight: bolder;
    padding: 0px 15px;
}

#team li{
    display: inline;
    padding: 15px;
}

#about li{
    padding: 5px;
    display: inline;
}


ul#team li:hover{
    color: black;
    font-size: 24px;
}

#areas{
    xxfloat: left;
    margin-right: 15px;
    border-bottom: 2px solid #666666;
}

#about_items a{
    font-size: 30px;
    text-decoration: none;
    vertical-align: middle;
    color: #666666;
    font-weight: bold;
    margin-right: 20px;
}

#about_items img{
    padding-right: 10px;
}

.info div{
    xxxfloat: left;
    display: none;
    margin: 10px 30px;
}

#viz{
    kldmargin-top: 25px;
}

#viz1_container{
    float: left;
    width:49%;
    height:500px;
}

#viz2_container{
    float: right;
    width:49%;
    height:500px; 
}

#viz3_container{
    float: left;
    width: 100%;
    margin-top: 25px;
}
#viz3_container img {
    width:100%;
}
#viz h2{
    background: #666666;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

.viz_container{
    border: 2px solid #666666;
}